
*,
*::before,
*::after{
    box-sizing: border-box;
}
:root{
    --clr-black:#0b0c10;
    --clr-dark-blue:#1f2833;
    --clr-grey:#c5c6c7;
    --clr-light-blue:#66fcf1;
    --clr-blue:#45a29e;
}
body{
    margin: 0;
    background:linear-gradient(270deg,var(--clr-black),var(--clr-dark-blue));
}
main, .wrap{
    margin: 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
h1{
    margin-top: 15px;
    line-height: 1.6;
    color: #66fcf1;
    font-size: 100px;
    font-family:'lato';
    align-self: center;
}
.wrap{
    flex-direction: row;
    justify-content: flex-start;
    gap: 100px;
}
.button-container{
    display: flex;
    flex-direction: column;
    width: 200px;
    justify-self: flex-start;
    gap: 15px;
    align-items: flex-start;
    margin-top: 50px;
    margin-left: 250px;
}
.container{
    display: grid;
    margin-top: -40px;
    width: 550px;
    height: 650px;
    background: white;
    margin-left: 100px;
    place-self: flex-end;
    border: 5px solid var(--clr-grey);
    border-radius: 3px;
    box-shadow: 10px 10px 5px #245d6e;
}
#colorpicker{
    margin: 10px 50px 20px 50px;
    transform: scale(3.5);
    border: none;
    padding: none;
    background: none;
}
button{
background-color: var(--clr-blue);
color:var(--clr-grey);
border-radius: 20px;
transition: all .15s ease-in;
font-size: 1.4em;
font-weight: 700;
padding: 20px 50px;
font-family: 'lato';
}
label{
    font-weight: 700;
    font-size: 1.4em;
    font-family: 'lato';
    color:var(--clr-light-blue);
}
button:hover{
    transform: scale(1.15);
}

